
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

body {
  // background     : #fff url("https://upload.wikimedia.org/wikipedia/commons/1/1c/Book_sale_loot_%284552277923%29.jpg") no-repeat fixed center;
  // background-size: cover;

  background: #ccc;
}

.media {
  background-color: #2E2F30;
  color           : #fff;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.3rem;
  }
}
