<h1>Reviews for book: <%= link_to @book.title, book_path(@book) %> (<%= @reviews.count %>)</h1>

<% @reviews.each do |review| %>

  <h2> User: <%= review.user.name %> </h2>

  <h2>Review: </h2>

  <p> <%= review.body %> </p>

<% end %>