<% unless @favorited_books.blank? %>
  <div class="row">
    <div class="col col-md-6 offset-md-3">
      <ul class="list-group">
        <% @favorited_books.each do |favorite_book| %>
          <li class="list-group-item">
            <span>
              <%= favorite_book.book.title %>
            </span>

            <%= link_to unfavorite_book_path(favorite_book.book), method: :delete, remote: true do %>
            <%= icon 'fas', 'trash-alt', class: 'float-right' %>

          <% end %>

        </li>

      <% end %>

    </ul>

  </div>

</div>

<% else %>

<p class="text center text-info">There is nothing here!
  <%= icon 'fas', 'exclamation-triangle', size: '9px' %>
</p>

<% end %>